@charset "UTF-8";

body {
	font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}

h2, p {
	padding-left: 10px;
	padding-right: 10px;
}

table.active_offers > tbody > tr > td, table.pending_offers > tbody > tr > td, table.expired_offers > tbody > tr > td {
	line-height: 34px;
	vertical-align: middle;
}